<div class="content-primary">
  <br><br>
  <mat-card class="contenedor">
    <mat-card-content>
      <div class="content-2">

        <br>
        <mat-label style="text-align: center; font-size: 30px; color: #14131B">
          <b>{{ 'recover-owner.RECOVER_PASSWORD' | translate }}</b>
        </mat-label>
        <br>
        <mat-label style="text-align: center">
          {{ 'recover-owner.OWNER' | translate }}
        </mat-label>
        <br>
        <mat-label style="text-align: center; font-size: 15px; color: #14131B">
          <br>{{ 'recover-owner.INSTRUCTIONS' | translate }}
        </mat-label>
        <br>

        <mat-label style="text-align: left">
          {{ 'recover-owner.EMAIL_LABEL' | translate }}
        </mat-label>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="email"
            type="text"
            [placeholder]="'recover-owner.EMAIL_PLACEHOLDER' | translate"
            class="input"
          />
        </mat-form-field>

        <button
          mat-button
          style="color: #FF7A00; background-color: #14131B; font-family: 'Poppins', sans-serif"
          (click)="clickAddTodo()"
        >
          {{ 'recover-owner.SEND_CODE' | translate }}
        </button>

        <br>

        <mat-label style="text-align: left">
          {{ 'recover-owner.CODE_LABEL' | translate }}
        </mat-label>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="code"
            type="number"
            [placeholder]="'recover-owner.CODE_PLACEHOLDER' | translate"
            class="input"
          />
        </mat-form-field>
        <br>

        <button
          mat-button
          style="color: white; background-color: #FF7A00; font-family: 'Poppins', sans-serif"
          routerLink="/pages/restore-owner"
        >
          {{ 'recover-owner.RESET_PASSWORD' | translate }}
        </button>

      </div>
    </mat-card-content>
  </mat-card>
</div>
