<div class="dashboard-container">
  <div class="profits">
    <p> Restaurant's Profits: Amount of orders sold per day. </p>
    <app-profits-analytics/>
  </div>

  <div class="losses">
    <p> Restaurant's Loss: Total amount of products bought for the inventory. </p>
    <app-loss-analytics/>
  </div>

  <div class="orders">
    <p> Quantity of dishes sold per day in a bar graphic. </p>
    <app-orders-analytics/>
  </div>

  <div class="pie">
    <p> Quantity of dishes sold per day in a pie graphic.</p>
    <app-order-pie-analytics/>
  </div>
</div>
