<div class="dashboard-container">
  <div class="profits">
    <p>{{ 'dashboard.PROFITS' | translate }}</p>
    <app-profits-analytics></app-profits-analytics>
  </div>

  <div class="losses">
    <p>{{ 'dashboard.LOSSES' | translate }}</p>
    <app-loss-analytics></app-loss-analytics>
  </div>

  <div class="orders">
    <p>{{ 'dashboard.ORDERS_BAR' | translate }}</p>
    <app-orders-analytics></app-orders-analytics>
  </div>

  <div class="pie">
    <p>{{ 'dashboard.ORDERS_PIE' | translate }}</p>
    <app-order-pie-analytics></app-order-pie-analytics>
  </div>
</div>
