<div class="content-primary">
  <br><br>
  <mat-card class="contenedor">
    <mat-card-content>
      <div class="content-2">
        <br>
        <mat-label style="text-align: center; font-size: 30px; color: #14131B;">
          <b>{{ 'reset-worker.RESET_PASSWORD' | translate }}</b>
        </mat-label>
        <br>
        <mat-label style="text-align: center;">
          {{ 'reset-worker.WORKER' | translate }}
        </mat-label>
        <br>
        <mat-label style="text-align: center; font-size: 15px; color: #14131B;">
          <br>{{ 'reset-worker.INSTRUCTIONS' | translate }}
        </mat-label>
        <br>
        <mat-label style="text-align: left;">
          {{ 'reset-worker.EMAIL_LABEL' | translate }}
        </mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="email" type="text"
                 [placeholder]="'reset-worker.EMAIL_PLACEHOLDER' | translate" class="input">
        </mat-form-field>

        <button mat-button style="color: #FF7A00; background-color: #14131B; font-family: 'Poppins', sans-serif"
                (click)="clickAddTodo()">
          {{ 'reset-worker.SEND_CODE' | translate }}
        </button>

        <br>
        <mat-label style="text-align: left;">
          {{ 'reset-worker.CODE_LABEL' | translate }}
        </mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="code" type="number"
                 [placeholder]="'reset-worker.CODE_PLACEHOLDER' | translate" class="input">
        </mat-form-field>

        <br>
        <button mat-button style="color: white; background-color: #FF7A00; font-family: 'Poppins', sans-serif"
                routerLink="/pages/restore-worker">
          {{ 'reset-worker.RESET_BUTTON' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
