<div class="content-primary">

  <br><br>
  <mat-card class="contenedor">
    <mat-card-content>
      <div class="content-2">

        <section>
          <div class="example-button-row section-button">
            <button mat-button [routerLink]="['/pages/register-worker']">Worker</button>
            <button mat-button [routerLink]="['/pages/register-owner']" style="margin-left: 1em">Owner</button>
          </div>
        </section>

        <br><br>
        <mat-label style="text-align: center; font-size: 30px; color: #14131B"><b>Register</b></mat-label>
        <br>

        <mat-label style="text-align: left">First Name</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="user.firstName" type="text" placeholder="Enter your first name" class="input">
        </mat-form-field>

        <mat-label style="text-align: left">Last Name</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="user.lastName" type="text" placeholder="Enter your last name" class="input">
        </mat-form-field>

        <mat-label style="text-align: left">Date of Birth</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="user.birthDate" type="date" class="input">
        </mat-form-field>

        <mat-label style="text-align: left">Phone</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="user.phoneNumber" type="tel" placeholder="Enter your phone number" class="input">
        </mat-form-field>

        <mat-label style="text-align: left">Email</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="user.email" type="email" placeholder="Enter your email" class="input">
        </mat-form-field>

        <mat-label style="text-align: left">Password</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="user.password" type="password" placeholder="Create a password" class="input">
        </mat-form-field>

        <button mat-button style="color: white; background-color: #FF7A00" type="submit" (click)="onSubmit()" routerLink="/validation">
          Register as Worker
        </button>

      </div>
    </mat-card-content>
  </mat-card>
</div>
