<div class="inventory-container">
  <main class="content">
    <h1>Inventory</h1>

    <table>
      <thead>
      <tr>
        <th>Product</th>
        <th>Expiration Date</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.expirationDate }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
      </tbody>
    </table>

    <!--button (click)="addProduct()">+ Add Product</button>-->
    <button (click)="toggleForm()">
      {{showForm ? 'Cancel' : 'Add Product'}}
    </button>
    <div *ngIf="showForm" style="margin-top: 15px">
      <form (ngSubmit)="saveProduct()">
        <label>
          Name:
          <input type="text" [(ngModel)]="newProductAdded.name" name="name" required>
        </label>
        <br />
        <label>
          Expiration Date:
          <input type="date" [(ngModel)]="newProductAdded.expirationDate" name="expirationDate" required>
        </label>
        <br />
        <label>
          Quantity:
          <input type="number" [(ngModel)]="newProductAdded.quantity" name="quantity" required>
        </label>
        <br />
        <button type="submit">Save</button>
      </form>
    </div>
  </main>
</div>
