<app-card [title]="title">
  <div class="chart-container">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
  <div class="categories-legend">
    <div class="category-item" *ngFor="let item of categories; let i = index">
      <div class="category-color" [style.background-color]="getColor(i)"></div>
      <div class="category-name">{{ item.category }}</div>
      <div class="category-value">${{ item.amount | number }}</div>
    </div>
  </div>
</app-card>
