<div class="content-primary">

  <br><br>
  <mat-card class="contenedor">
    <mat-card-content>
      <div class="content-2">

        <br>
        <mat-label style="text-align: center; font-size: 30px; color: #14131B;"><b>Reset Password</b></mat-label>
        <br>
        <mat-label style="text-align: center">Worker</mat-label>
        <br>
        <mat-label style="text-align: center; font-size: 20px; color: #14131B"><br>Enter your new password</mat-label>
        <br>

        <mat-label style="text-align: left">New Password</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="password" type="password" placeholder="New Password" class="input">
        </mat-form-field>

        <br>
        <mat-label style="text-align: left">Confirm Password</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="newpassword" type="password" placeholder="Confirm Password" class="input">
        </mat-form-field>
        <br>
        <button mat-button style="color: white; background-color: #FF7A00; font-family: 'Poppins', sans-serif" routerLink="/pages/validation">
          Change Password
        </button>

      </div>
    </mat-card-content>
  </mat-card>
</div>
